
body,html{
    color: #fff;
    background: linear-gradient(90deg, #000000, rgb(36, 34, 34));
}

h3{
    color: #fff;
}



.container{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    gap: 10px;
    background-color: hsl(0, 4%, 28%);
    border-radius: 25px;
    box-shadow: 5px 5px 15px rgb(51, 50, 50);
}



.container  select option{
    width: 100%;
    background: transparent;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    color: black;
}

