body,html{
    color: #fff;
    background: linear-gradient(90deg, #030303, rgb(36, 34, 34));
}

.container {
    text-align: center;
    background: #222;
    padding: 30px;
    border-radius: 20px;
    box-shadow: 0 8px 20px rgba(0,0,0,0.6);
}

#display h3 {
    font-size: 2em;
    margin-bottom: 20px;
    color: #fff;
}

h3{
    color: #fff;
}

h2{
    display: inline-block;
    margin: 20px 10px 10px;
    font-family: 'Trebuchet MS', sans-serif;
    font-weight: 600;
    font-size: 1.2em;
    color: #ddd;
}

select {
    width: 90px;
    height: 60px;
    font-size: 1.5em;
    font-weight: bold;
    color: #fff;
    background-color: #333;
    border-radius: 10px;
    border: 2px solid #555;
    text-align: center;
    margin: 5px;
}

button {
    margin: 15px 10px;
    font-size: 1.2em;
    padding: 10px 25px;
    border-radius: 10px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    color: #fff;
}

#comecar {
    background: #0f0f0f;
}

#parar {
    background: #066;
}

#comecar:hover {
    background: #333;
}

#parar:hover {
    background: #044;
}

#resetar{
    color: #030303;
}

footer{
    color: #fff;
}