@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Open+Sans:ital,wght@0,300..800;1,300..800&family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body,html{
    font-family: 'Montserrat',sans-serif;
    margin: 0;
    padding: 0;
    height: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(90deg, #fff, rgb(202, 201, 201));
}

/* Cabeçalho */
header{
    position: absolute;
    display: flex;
    align-items: center;
    padding: 20px 40px;
    margin-bottom: 40px;
    box-shadow: 0 2px 5px black;
    border-radius: 3px;
    justify-content: center;
    width: 100%;
    justify-content: space-between;
}

.title{
    display: flex;
    text-align: center;
    align-items: center;
    font-size: 15px;
    margin-left: 45.6%;
}

/* Button Dark-Mode */
.dark-mode{
    top: 20px;
    right: 40px;
}
/* Alarme */

main{
    flex: 1;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .alarm-container{
    display: flex;
    align-items: center;
    position: absolute;
    right: 43%;
    width: 500px;
    flex-direction: column;
    border-radius: 10px;
    background-color: #333;
    box-shadow:  0 10px 25px rgba(0, 0, 0, .1);
    color: #fff;
    margin: 10px;
    padding: 50px;
    bottom: 40%;
}

.container .alarm-container img{
    margin-top: 20px;
    max-width: 100px;
}

.container .alarm-container h2{
    font-size: 38px;
    font-weight: 500;
    margin: 30px 0;
    border-radius: 5px;
    box-shadow:  0 10px 25px rgba(255, 255, 255, 0.1);
    color: #fff;
}

.container .alarm-container div{
    display: flex;
    align-items: center;
    justify-content:center;
    flex-direction: row;
}

.content.disable{
    cursor: no-drop;
}

.container .content .alarm-controls{
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    padding: 0 10px;
    border-radius: 5px;
    border: 1px solid #fff;
    height: 50px;
    margin: 10px;
}

.content.disable .alarm-controls{
    opacity: .6;
    pointer-events: none;
}

.container .content select{
    border: none;
    background: transparent;
    font-size: 20px;
    font-weight: bold;
    padding: 10px;
    color: #fff;
}

.container .content select option{
    width: 100%;
    background: transparent;
    font-size: 18px;
    font-weight: bold;
    padding: 5px;
    color: black;
}

.container button{
    width: 300px;
    border: none;
    font-size: 22px;
    font-weight: bolder;
    padding: 17px 0;
    margin-top: 20px;
    border-radius: 5px;
    background: rgb(101, 184, 187);
    color: #fff;
}

.container button:hover{
    background: rgb(60, 101, 102);
}

/* Footer */
footer{
    display: flex;
    align-items: center;
    padding: 20px 40px;
    margin-top: 40px;
    box-shadow: 0 -2px 5px black;
    justify-content: space-between;
    
}

.options{
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    gap: 100px;
    margin-left: 30%;
}

.image-clock{
    display: flex;
    flex-direction: column;
    align-items: center;
    transition: 0.5s;
    cursor: pointer;
}

.image-clock:hover{
    transform: scale(1.4);
}

.options a{
    color: black;
    text-decoration: none;
}

.options a:visited{
    color: inherit;
    text-decoration: none;
}

/* MEDIA QUARE */

@media (max-width: 428px){
      
.button.mobile {
    width: 55px;
    height: 55px;
    border-radius: 50%;
    position: fixed;
    bottom: 20px;
    right: 20px;
    background: black;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    z-index: 12;
}

.button.mobile::before {
    content: "+";
    color: white;
    font-size: 2rem;
    transition: transform 0.3s;
}

.options {
    position: fixed;
    bottom: 90px;
    right: 20px;
    background: white;
    border-radius: 15px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    padding: 15px;
    display: none; 
    flex-direction: column;
    gap: 15px;
    z-index: 11;
}

.options a {
    margin-right: -2px;
    padding: 0 10px 0;
}

/* Quando o checkbox está marcado, mostra o menu */
#menu-toggle:checked ~ .options {
    display: flex;
}

/* E anima o + para virar um X */
#menu-toggle:checked + .button.mobile::before {
    content: "×";
    transform: rotate(180deg);
}

.container .alarm-container{
    right: 0%;
    left: -10%;
    max-width: 100%;
}

.content .alarm-controls{
    
    flex-direction: column;
}



}